<mtapp:setting id="path_setting" label="スマートフォンサイトパス"
    hint="スラッシュ入れず、ディレクトリ名のみ入力します。（※ウェブサイトの設定値のみ使用されます。）" show_hint=1>
    <input type="text" name="path_setting" id="path_setting"
        value="<mt:GetVar name="path_setting">" />
</mtapp:setting>